.add-wrapper__adder{
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 18pt;
  font-family: 'poppins';
  font-weight: 300;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.add-wrapper__adder:hover{
  color: var(--light-green);
}

.add-wrapper__btn::after{
  display: none;
}

.add-wrapper__btn::before{
  display: none;
}
