.testimonial__container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 100px 0;
  width: 90%;
  max-width: 100%;
  margin: 0;
}

@media screen and (max-device-width: 1400px){
  .testimonial__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
