@import url("static/font/font.css");

@import url("blocks/container/container.css");

@import url("blocks/header/header.css");
@import url("blocks/header/header__container.css");

@import url("blocks/page/page.css");

@import url("blocks/logo/logo.css");
@import url("blocks/logo/logo-img.css");
@import url("blocks/logo/logo-title.css");

@import url("blocks/menu/menu.css");
@import url("blocks/menu/menu__list.css");
@import url("blocks/menu/menu__list-mobile.css");
@import url("blocks/menu/menu__list-mobile_disable.css");
@import url("blocks/menu/menu__list-mobile_active.css");
@import url("blocks/menu/menu__list-item.css");
@import url("blocks/menu/menu__list-item_active.css");

@import url("blocks/burger/burger.css");
@import url("blocks/burger/burger_active.css");

@import url("blocks/lead/lead.css");
@import url("blocks/lead/lead__container.css");
@import url("blocks/lead/lead__container-item.css");
@import url("blocks/lead/lead__container-item_1.css");
@import url("blocks/lead/lead__container-item_2.css");
@import url("blocks/lead/lead__title.css");

@import url("blocks/title/title.css");
@import url("blocks/title/title_italic.css");
@import url("blocks/title/title_white.css");
@import url("blocks/title/title_gray.css");

@import url("blocks/btn/btn.css");
@import url("blocks/btn/btn-black.css");
@import url("blocks/btn/btn-other_white.css");

@import url("blocks/strong/strong.css");
@import url("blocks/strong/strong_light-green.css");
@import url("blocks/strong/strong_gray.css");

@import url("blocks/description/description.css");

@import url("blocks/cards/cards.css");

@import url("blocks/card/card.css");
@import url("blocks/card/card__img.css");
@import url("blocks/card/card_img_line.css");
@import url("blocks/card/card__title.css");

@import url("blocks/about/about__cards.css");

@import url("blocks/services/services__btn.css");

@import url("blocks/grid-wrapper/grid-wrapper.css");
@import url("blocks/grid-wrapper/grid-wrapper__item.css");

@import url("blocks/protfolio-content/portfolio-content__grid-wrapper.css");
@import url("blocks/protfolio-content/portfolio-content__add-wrapper.css");

@import url("blocks/add-wrapper/add-wrapper.css");
@import url("blocks/add-wrapper/add-wrapper__title.css");
@import url("blocks/add-wrapper/add-wrapper__adder.css");

@import url("blocks/testimonial/testimonial.css");
@import url("blocks/testimonial/testimonial__container.css");
@import url("blocks/testimonial/testimonial__cite.css");
@import url("blocks/testimonial/testimonial__controls.css");
@import url("blocks/testimonial/testimonial__title.css");

@import url("blocks/controller/controller.css");

@import url("blocks/advice/advice.css");

@import url("blocks/slider/swiper-bullets.css");
@import url("blocks/slider/slide-img.css");

@import url("blocks/cite/cite.css");
@import url("blocks/cite/cite__container.css");
@import url("blocks/cite/cite__content.css");
@import url("blocks/cite/cite__author-position.css");

@import url("blocks/hello/hello.css");
@import url("blocks/hello/hello__container.css");
@import url("blocks/hello/hello-mail.css");

@import url("blocks/form/form.css");
@import url("blocks/form/form-input.css");
@import url("blocks/form/form-textarea.css");
@import url("blocks/form/form-submit.css");

@import url("blocks/copyright/copyright.css");

@import url("blocks/other/other.css");
@import url("blocks/other/other__ul.css");

@import url("blocks/footer/footer__send.css");
@import url("blocks/footer/footer__social.css");

:root{
  --black: #232726;
  --gray: #404245;
  --light-green: #05fab6;
  --cyan: #05fab8;
  --cyan-transparent: rgba(5, 250, 184, 0.5);
  --mobile-gap: 0;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

@media screen and (max-device-width: 768px){
  :root{
    --mobile-gap: 20px;
  }
}
