@import url("static/font/font.css");

@import url("blocks/container/container.css");

@import url("blocks/header/header.css");
@import url("blocks/header/header__container.css");

@import url("blocks/page/page.css");

@import url("blocks/logo/logo.css");
@import url("blocks/logo/logo-img.css");
@import url("blocks/logo/logo-title.css");

@import url("blocks/menu/menu.css");
@import url("blocks/menu/menu__list.css");
@import url("blocks/menu/menu__list-mobile.css");
@import url("blocks/menu/menu__list-mobile_disable.css");
@import url("blocks/menu/menu__list-mobile_active.css");
@import url("blocks/menu/menu__list-item.css");
@import url("blocks/menu/menu__list-item_active.css");

@import url("blocks/burger/burger.css");

@import url("blocks/lead/lead.css");
@import url("blocks/lead/lead__container.css");
@import url("blocks/lead/lead__container-item.css");
@import url("blocks/lead/lead__container-item_1.css");
@import url("blocks/lead/lead__container-item_2.css");
@import url("blocks/lead/lead__title.css");

@import url("blocks/title/title.css");
@import url("blocks/title/title_italic.css");
@import url("blocks/title/title_white.css");
@import url("blocks/title/title_gray.css");

@import url("blocks/btn/btn.css");
@import url("blocks/btn/btn-black.css");

@import url("blocks/strong/strong.css");
@import url("blocks/strong/strong_light-green.css");
@import url("blocks/strong/strong_gray.css");

@import url("blocks/description/description.css");

@import url("blocks/cards/cards.css");

@import url("blocks/card/card.css");
@import url("blocks/card/card__img.css");
@import url("blocks/card/card_img_line.css");
@import url("blocks/card/card__title.css");

@import url("blocks/about/about__cards.css");

@import url("blocks/services/services__btn.css");

:root{
  --gray: #404245;
  --light-green: #05fab6;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
