.lead__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-device-width: 730px){
  .lead__container{
    display: flex;
  }
}
