.controller{
  background: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 85%;
  padding: 80px 0;
}

@media screen and (max-device-width: 1400px){
  .controller{
    width: 100%;
  }
}
