.menu__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.menu__list a{
  text-decoration: none;
}

.menu__list a:not(:last-child){
  margin-right: 32px;
}
