.other__ul{
  font-size: 16pt;
  font-weight: bold;
  font-family: 'poppins';
}

.other__ul > li{
  margin: 0 10px;
  text-transform: uppercase;
}

.other__ul a{
  color: black;
}

.other__ul a:hover{
  color: var(--light-green);
}

.other img{
  width: 20px;
  height: 20px;
}
