.swiper-bullets{
  width: auto !important;
  margin-top: 30px;
}

.swiper-pagination-bullet{
  width: 20px !important;
  height: 20px !important;
}

.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
  background: black !important;
  opacity: 1 !important;
  margin: 0 10px !important;
  transition: background 0.6s;
  border: 1px solid black;
}

.swiper-pagination-bullet-active{
  background: var(--light-green) !important;
  border: 1px solid var(--gray);
}
